# Local .terraform directories
**/.terraform/*
.terraform/
*.tfvars
secrets-management/*.tfplan

# .tfstate files
*.tfstate
*.tfstate.*

# log files
*.log

# Local overrides
local_override.tf
*_override.tf

# Sensitive variable files
*.auto.tfvars.local
*.auto.tfvars
dev.auto.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore keypairs directory
keys/
keys/*

# Ignore Terraform backup files
tf_backup/

.secrets/
*.pem
checkov_terraform.md
_task/
